<% provide(:title, "All Users") %>
<h1>All Users</h1>

<%= will_paginate %>

<ul class = "users">
  <% @users.each do |user| %>
    <!-- Says in tutorial to use "render @users" but that makes the user list on each paginated page
    repeat 5 times -->
    <%= render user %>
  <% end %>
</ul>

<%= will_paginate %>